html {
    justify-content: center;
    font-size: x-large;
    background-color: aqua;
}

body {
    position: relative;
    border-style: groove;
    margin: 90px;
    padding: 20px;
    border-radius: 30px;
    border-color: black;
    background-color: aliceblue;
}

button {
    background-color: black;
    color: aliceblue;
    font-size: xx-large;
    border-radius: 30px;
}
